html, body {
margin: 0;
padding:0;
}

.top {
	display: block;
	margin: auto;
	align-content: center;



}
.tabs > a {
	display: inline;
	padding-top: 26px;
	padding-bottom: 26px;
	font-size: 22px;
	text-align: center;
	float: left;
	width: 20%;
	position: relative;
	background-color: black;
}
.twitter-timeline {
	float: right;
	padding-top: 50px;
	padding-right: 50px;
}
.video1 {
	text-align: center;
}
.splitimage {
	max-height: 100%;
	max-width: 100%;
	width: 33.3333%;
	vertical-align: middle;
}
.keeptogether {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	line-height: 0;
	word-spacing: -4px;
	vertical-align: center;
	background-color: silver;
}
.tabs a:link {
	color: white;
	text-decoration: none
}
.tabs a:visited {
	color: white;
}
.tabs a:hover {
	color: grey;
}
.tabs a:active {
	color: white;
}
.main{
	background-color: silver;
		padding-top: 30px;
	padding-bottom: 800px;

}
