.top img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tabs > div {
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    float: left;
    width: 20%;
    font-size: 24px;
    font-family: Dotum;
    font-weight: 700;
}

.tab1 {
    background: red;
}

.tab2 {
    background: green;
}

.tab3 {
    background: orange;
}

.tab4 {
    background: yellow;
}

.tab5 {
    background: violet;
}

.main {
    height: 1000px;
    background: lightgrey;
    text-align: center;
}
