.top {
    display: block;
    margin: auto;
    align-content: center;

}


.tabs > a {
    display: inline;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 22px;
    text-align: center;
    float: left;
    width: 20%;
    position: relative;

}
tabs {

}
.tab1 {
    background: red;

}

.tab2 {
    background: green;

}

.tab3 {
    background: orange;

}

.tab4 {
    background: yellow;

}

.tab5 {
    background: violet;

}

.twitter-timeline{
  float:right;
padding-top: 50px;
padding-right: 50px;

}


